* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #212121;
    color: white;
}

.nav{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.nav a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(206, 206, 206);
    border-radius: 4px;
    padding: 8px 16px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

table {
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

table th,
table td {
    padding: 12px 15px;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #323232;
}