* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #212121;
    color: white;
}

.nav{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.nav a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(206, 206, 206);
    border-radius: 4px;
    padding: 8px 16px;
}