* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #212121;
    color: white;
}

.nav{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.nav a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(206, 206, 206);
    border-radius: 4px;
    padding: 8px 16px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    padding: 25px;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}


form input {
    padding: 8px;
    border-radius: 4px;
    border: none;
}


form button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: rgb(117, 116, 116);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

form button:hover {
    background-color: rgb(146, 146, 146);
} 

#result {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: red
}
